<!DOCTYPE html>

<html>
  <head>
<link rel="stylesheet" href="/css/styles.css">
</head> 
    <body>
       

         <div class="main-content">



  {{title}}

        
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href ="/Help">Help</a>    

</div>
         
      
{{footer}}




    </body>¯
    



  

  



</html>