<!DOCTYPE html>

<html>
  <head>
     <link rel="stylesheet" href="/css/styles.css">
     <link rel="icon" href="/img/IMG-2.png">
      </head> 


    <body>
       <div class="main-content">
        {{>header}}
        <img class="portrait" src="img/IMG_6300.PNG">
        <p>The photo is clicked on {{camera}} by {{name}}</p>
        </div>

        {{>footer}}

    </body>¯






</html> 