<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/IMG-2.png">
</head>
    <body>

      <div class="main-content">
        {{>header}}
   
         
        <p1>How can we help ??</p1>


      </div>
        {{>footer}}
      
    </body>¯


   

  



</html>