<html>
  <head>
     
     <link rel="icon" href="/img/IMG-2.png">
      </head> 


    <body>
       <div>
        {{>header}}
        <img src="/img/loading2.gif">
        
        </div>

        {{>footer}}

    </body>¯






</html> 